.container {
  margin: 3rem auto 0 auto;
  max-width: 50%;
}

.footer {
  background-color: var(--main-grey);
  color: rgb(255, 255, 255);
  padding: 1rem 0;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .container {
    max-width: 85%;
  }
}